<?xml version="1.0" encoding="utf-8"?>

<CONFIG>
  <BASIC_CONFIG>
    <LOCALHOST_IP>127.0.0.1</LOCALHOST_IP>
    <LOG_FILE_PATH>./log</LOG_FILE_PATH>
    <PERSIST_TIMEOUT>10</PERSIST_TIMEOUT>
    <MIDDLE_SERVER_PORT>63000</MIDDLE_SERVER_PORT>
    <THREAD_POOL_NR>4</THREAD_POOL_NR>
  </BASIC_CONFIG>
  <SYSTEM_CONFIG>
  </SYSTEM_CONFIG>
</CONFIG>
